header {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
}

.logo img {
	width: 80px;
	height: 70px;
	align-items: center;
}

h1 {
	color: orange;
	font-size: 38px;
}

ul {
	list-style: none;
	display: flex;
}

li a {
	text-decoration: none;
	color: orange;
	margin: 5px;
	display: block;
	line-height: 50px;
	font-size: 1.125rem;
	font-weight: 700;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: rgb(94, 94, 94);
	color: black;
	width: 50%;
	height: 50%;
	top: 0;
	right: -100%;
	z-index: 2;
	padding: 10px;
	font-size: 16px;
	list-style: none;
	position: fixed;
	overflow: hidden;
}

.nav-list {
	flex-direction: column;
	list-style: none;
	display: flex;
	opacity: 1; /* Show links when menu is open */
}

.hidden-links {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

/* openbutton for slide in navbar */

.hidden-open-btn {
	display: block;
}

.openbtn {
	background-color: rgb(97, 97, 97);
	width: 40px;
	height: 40px;
	border-radius: 16px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	border: none;
	margin: 20px;
	position: fixed;
	z-index: 1;
	right: 10%;
}

.hidden-close-btn {
	display: none;
}

.closebtn {
	background-color: orange;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	color: rgb(94, 93, 93);
	border: none;
	top: 50px;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}

.header-button {
	height: 20px;
	width: 20px;
	display: flex;
	justify-content: center;
}

body {
	background-color: rgb(60, 60, 60);
	display: flex;
	align-items: center;
	justify-content: center;
}
::-webkit-scrollbar {
	display: none;
}

#rec-food-container {
	background-color: white;
	height: 300px;
	width: 300px;
	border: 3px solid purple;
	overflow: scroll;
}
#row {
	display: flex;
	flex-direction: row;
	position: relative;
}

.image {
	min-width: 300px;
	min-height: 300px;
	max-width: 300px;
	max-height: 300px;
}
.featured-item {
	position: absolute;
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	z-index: 2;
	top: 250px;
	left: 30px;
	width: 100%;
}
.item-2 {
	left: 330px;
}
.item-3 {
	left: 630px;
}
